html{
    width: 200px; /*90w/60h*/
    height: 60px;
}
/*https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.timerField{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
}
.timerTracker{
    display: flex;  
    position: relative;
    justify-content: left;
    align-items: center;
    margin: 0;
    bottom: 40%;
}
p{
    position: relative;
    left: 0%;
    bottom: 25%;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    margin: 0;
}
button{
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: end;
    left: 60%;
    margin: 0;
    background-image: url("icons/power-off-regular-24.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 30px;
    width: 30px;
    border: none;
    background-color: white;
    transition-duration: 1s;
}
button:hover{
    border: 1px;
    border-style: groove;
    border-color: red;
}
span{
    font-size: 30px;
}

