
input[type=number]{
    width: 40%;
}
.onButton{
    position: relative;
    display: flex;
    justify-content: center;
    border:0px;
    border-style: dashed;
    border-color: red;
    margin:0;
    top:50%;
    left:20%;
    font-size: 50px;
}
.timerField{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border:5px;
    border-style: dashed;
    border-color: red;
    margin: 0;
}
.p{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    left:80%;
    margin:0;
}
